@charset "utf-8";

:root {
  --title-font-size: 5rem;
  --subtitle-font-size: 2rem;
  --lead-font-size: 1.5rem;
  --normal-text-font-size: 1.25rem;
  --font-family: "Avenir-Medium", "Avenir", sans-serif;
  --bg_purple: #6152cc;
  --design_bg: #ff88aa;
  --design_text: #c40233;
  --tech_bg: #ffd300;
  --tech_text: #000000;
  --user_text: #0087bd;
  --user_bg: #50e3c2;
  --selection-text: #fe57a1;
}

:global .title {
  font-size: var(--title-font-size);
}

:global .subtitle {
  font-size: var(--subtitle-font-size);
}

:global .lead {
  font-size: var(--lead-font-size);
  word-break: break-word;
  line-height: 1.25;
  font-weight: 400;
  color: inherit;
}

:global .normal-text {
  font-size: var( --normal-text-font-size );
  word-break: normal;
  line-height: 1;
  color: inherit;
}

:global .is-purple {
  background-color: var(--bg_purple, #6152cc);
  border-color: transparent;
  color: #fff;

}

:global .button.is-purple:hover {
  color: #ffe2e2;
}

body {
  //font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: var(--font-family);
  ::selection {
    background: var(--selection-text, #fe57a1);
    color: #fff;
    text-shadow: none;
}
  
}

a {
  text-decoration: none;
}

img {
  margin-left: auto;
  margin-right: auto;
}

