@charset "utf-8";
    
.label-title{
    font-size: var(--title-font-size);
    padding: calc(0.2 * var(--title-font-size)) calc(0.2 * var(--title-font-size));
    overflow: hidden;
    letter-spacing: 0px;
    line-height: 1;
    font-weight: 800;
     }

     .label-subtitle{
        font-size: var(--subtitle-font-size);
        padding: calc(0.2 * var(--subtitle-font-size)) calc(0.2 * var(--subtitle-font-size));
        overflow: hidden;
        letter-spacing: 0px;
        line-height: 1;
        font-weight: 800;
         }

    .design {
    color: var(--design_text, #c40233);
    }

  .design-label {
    overflow: visible;
    background: var(--design_bg, #ff88aa);
    width: max-content;
  }

  .user-research {
    color: var(--user_text, #0087bd);
  }

  .user-research-label {
    background: var(--user_bg, #50e3c2);
    overflow: visible;
    width: max-content;
  }
  
  .technology-label {
    background: var(--tech_bg, #ffd300);
    overflow: visible;
    width: max-content;
  }

  .technology {
    color: var(--tech_text, #000000);
  }



.has-design-background {
  overflow: visible;
  background: var(--design_bg, #ff88aa);
}


.has-user-research-background {
  background: var(--user_bg, #50e3c2);
  overflow: visible;
}

.has-technology-background {
  background: var(--tech_bg, #ffd300);
  overflow: visible;
}
